<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles/reg-style.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form id="register">
            <div class="field">
                <input class="input-field" placeholder="Имя">
            </div>
            <div class="field">
                <input class="input-field" placeholder="Фамилия">
            </div>
            <div class="field">
                <input class="input-field" placeholder="Пароль">
            </div>
            <div class="field">
                <input class="input-field" placeholder="Поттвердить пароль">
            </div>
            <hr>
            <div class="button-field">
                <button id="accept">Зарегистрироваться</button>
            </div>
            <div class="auth-link">
                <p>Уже есть аккаунт? <a href="auth.html">Войти</a></p>
            </div>
        </form>
    </div>
</body>
</html>